<div class="content">
    <div class="container" style="margin-top:10px;">
      <div class="card text-center">
        <div class="card-header">
          <h2>Medico</h2>
          <div>
            <button type="button" class="btn btn-dark" (click)="Nuevo(contenido)">Nuevo</button>
          </div>
          <div class="float-right">
            <!--keydown change keyup-->
            <input type="text" name="filterPost" class="form-control" placeholder="Buscar......" [(ngModel)]="filterPost">
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Médicos</th>
                <th scope="col">Cédula</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Registro</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listMedico |filter:filterPost" >
                <th scope="row" (click)="Editar(item.idmedico,contenido)">{{item.idmedico}}</th>
                <td (click)="Editar(item.idmedico,contenido)">{{item.persona.nombre+' '+item.persona.apellido}}</td>
                <td (click)="Editar(item.idmedico,contenido)">{{item.cedula}}</td>
                <td (click)="Editar(item.idmedico,contenido)">{{item.especialidad}}</td>
                <td (click)="Editar(item.idmedico,contenido)">{{item.dni}}</td>
                <td> <button type="button" class="btn btn-danger " (click)="Eliminar(item.idmedico)"  >Eliminar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-muted">
          <!--2 days ago-->
        </div>
      </div>
    </div>
  </div>
  <ng-template  #contenido let-modal>
    <div class="modal-header">
  
  <h4 class="modal-title" >{{titulo}}</h4>
      <button type="button" class="close"  aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form [formGroup] = "formViewModel" (ngSubmit) = "onsave()">
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="idmedico">#</label>
          <input type="text" class="form-control" id="idmedico"  placeholder="1" formControlName="idmedico" readonly>
          <!--<small class="alert alert-dange" >{{getError('cedula')}}</small> change keyup-->
          <div *ngIf=" formViewModel.controls['idmedico'].invalid && (formViewModel.controls['idmedico'].dirty || formViewModel.controls['idmedico'].touched)" class="alert alert-danger">
            <!--<small *ngIf="formViewModel.controls['cedula'].invalid">Campo obligatorio</small>-->
             El campo # es obligatorio
          </div>
        </div>
        <div class="form-group col-md-6">
            <label for="cedula">Cédula</label>
            <input type="text" class="form-control" id="cedula"  placeholder="0000000000" formControlName="cedula" >
            <!--<small class="alert alert-dange" >{{getError('cedula')}}</small> change keyup-->
            <div *ngIf=" formViewModel.controls['cedula'].invalid && (formViewModel.controls['cedula'].dirty || formViewModel.controls['cedula'].touched)" class="alert alert-danger">
              <!--<small *ngIf="formViewModel.controls['cedula'].invalid">Campo obligatorio</small>-->
               El campo cédula es obligatorio
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="especialidad">Especialidad</label>
            <input type="text" class="form-control" id="especialidad"  placeholder="Medico - Odontólogo" formControlName="especialidad" >
            <!--<small class="alert alert-dange" >{{getError('cedula')}}</small> change keyup-->
            <div *ngIf=" formViewModel.controls['especialidad'].invalid && (formViewModel.controls['especialidad'].dirty || formViewModel.controls['especialidad'].touched)" class="alert alert-danger">
              <!--<small *ngIf="formViewModel.controls['cedula'].invalid">Campo obligatorio</small>-->
               El campo # es obligatorio
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="dni"># Registro</label>
            <input type="text" class="form-control" id="dni"  placeholder="# de Registro" formControlName="dni" >
            <!--<small class="alert alert-dange" >{{getError('cedula')}}</small> change keyup-->
            <div *ngIf=" formViewModel.controls['dni'].invalid && (formViewModel.controls['dni'].dirty || formViewModel.controls['dni'].touched)" class="alert alert-danger">
              <!--<small *ngIf="formViewModel.controls['cedula'].invalid">Campo obligatorio</small>-->
               El campo # es obligatorio
            </div>
          </div>
      </div>
      <div class="form-row">
        <div class="col-md-12 text-center">
          <h5>Datos personales</h5>

        </div>
        
        <div class="form-group col-md-6">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="JUAN" formControlName="nombre">
          <div *ngIf=" formViewModel.controls['nombre'].invalid && (formViewModel.controls['nombre'].dirty || formViewModel.controls['nombre'].touched)" class="alert alert-danger">
            <!--<small *ngIf="formViewModel.controls['cedula'].invalid">Campo obligatorio</small>-->
             El campo Apellido es obligatorio
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" id="apellido" placeholder="ANDRADE" formControlName="apellido">
          <div *ngIf=" formViewModel.controls['apellido'].invalid && (formViewModel.controls['apellido'].dirty || formViewModel.controls['apellido'].touched)" class="alert alert-danger">
            <!--<small *ngIf="formViewModel.controls['cedula'].invalid">Campo obligatorio</small>-->
             El campo Apellido es obligatorio
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="edad">Edad</label>
          <input type="text" class="form-control" id="edad" placeholder="17" formControlName="edad">
          <div *ngIf=" formViewModel.controls['edad'].invalid && (formViewModel.controls['edad'].dirty || formViewModel.controls['edad'].touched)" class="alert alert-danger">
            <!--<small *ngIf="formViewModel.controls['cedula'].invalid">Campo obligatorio</small>-->
             El campo Edad es obligatorio
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="telefono">Teléfono</label>
          <input type="text" class="form-control" id="telefono" placeholder="072236853 o 0992549224" formControlName="telefono">
          <div *ngIf=" formViewModel.controls['telefono'].invalid && (formViewModel.controls['telefono'].dirty || formViewModel.controls['telefono'].touched)" class="alert alert-danger">
            <!--<small *ngIf="formViewModel.controls['cedula'].invalid">Campo obligatorio</small>-->
             El campo Teléfono es obligatorio
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="telefono">Dirección</label>
          <input type="text" class="form-control" id="direccion" placeholder="San Rafael" formControlName="direccion">
          <div *ngIf=" formViewModel.controls['direccion'].invalid && (formViewModel.controls['direccion'].dirty || formViewModel.controls['direccion'].touched)" class="alert alert-danger">
            <!--<small *ngIf="formViewModel.controls['cedula'].invalid">Campo obligatorio</small>-->
             El campo Dirección es obligatorio
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="idsexo">Genero</label>
          <select id="idsexo" class="form-control" formControlName="idsexo">
            <option  *ngFor="let itemSexo of listaSexo" [ngValue]="itemSexo.idsexo">{{itemSexo.nombre}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="idestadocivil">Estado Civil</label>
          <select id="idestadocivil" class="form-control" formControlName="idestadocivil">
            <option  *ngFor="let itemEstado of listaEstadoCivil" value={{itemEstado.idestadocivil}}>{{itemEstado.nombre}}</option>
          </select>
        </div>

      </div>
      <button type="submit" class="btn lg btn-dark btn-block" [disabled]="formViewModel.invalid">Guardar</button>
    </form>
  </div>
  <!--<div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>-->
  </ng-template>
